%h1
	Home -
	= current_user.name.capitalize

%ul.polls
	- current_user.polls.order(:created_at.desc).each do |poll|
		%li= link_to poll.title, "/poll/#{poll.cached_slug}"
		%ul.answers
			= button_to "destroy", { :controller => "poll", :action => "destroy", :id => poll.id },
			            :confirm => "Are you sure?", :method => :delete, :class => "button_to_delete"
			Total votes:
			= poll.answers.sum(:votes)
			%br
			-poll.answers.order(:votes.desc).each do |answer|
				%li.answer= answer.text
				= "has #{answer.votes.to_s}"
				= answer.votes > 1 ? "votes" : "vote"
				%br
