!!!
%html
	%head
		%title TweetPoll
		= javascript_include_tag :defaults
		= csrf_meta_tag

		= stylesheet_link_tag 'blueprint/screen', :media => 'screen'
		= stylesheet_link_tag 'blueprint/print',	:media => 'print'
		= stylesheet_link_tag 'custom', :media => 'screen'
		
	%body
		.container
			%header
				%p.notice
				%p.alert
				%nav.topbar
					%ul
						%li= link_to "Home", root_path
						- if user_signed_in?
							%li= link_to "Sign out", destroy_user_session_path
						- else
							%li= link_to "Sign in", new_user_session_path
			%section.body_content
				= yield