<!DOCTYPE html>
<html>
<head>
  <title>TweetPoll</title>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
  <div class="container">
    <header>
      <nav class="topbar">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <nav class="flashes">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </nav>

    <section class="body_content">
      <%= yield %>
    </section>
  </div>
</body>
</html>
